html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Clearfix */

.tabs a.active {
  font-weight: bold;
}

div.chat-pane {
  display: none;
}

div.chat-pane.transitioning {
  display: block;
  opacity: 0;

  transition: opacity 500ms linear;
}

div.chat-pane.active {
  display: block;
  opacity: 1;

  transition: opacity 5ms linear;
}

/* TABS */


.main {
  display:block;
  width: 800px;
  height: 600px;
  border: 1px solid black;
}

.main .users {
  overflow: auto;
  display: block;
  float: left;
  width: 209px;
  height: 100%;
  border-left: 1px solid black;
}

.main .messages {
  overflow: auto;
  display: block;
  height: 100%;
  float: left;
  width: 510px;
}

.main .users:before {
  display: block
  content: '';
  height: 0;
  width: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid black;
  position: absolute;
}





.message-text {
  display: block;
  width: 478px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
}

form.message-input {
  margin-top: 20px;
  width: 500;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 10 #ccc;
  background: white;
}

form.message-input .send-message {
  font-weight: 700;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  background: #0c0;
  box-shadow: 0px 3px 0 #070;
  padding: 10px 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

form.message-input .send-message:hover {
  background: #0b0;
}

form.message-input .send-message:active {
  background: #0a0;
  box-shadow: 0px 0px 0;
  top: 3px;
  position: relative;
}

.sys-msg {
  color: blue;
}

.error-msg {
  color: red;
}

.messages img {
  display: inline-block;
  height: 40px;
  width: 40px;
}
